@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

// Colores
$primary-bg-color: #F0A83E;
$second-bg-color: #3C2313;
$primary-txt-color: #ffffff;
$link-nav-bar-hover: #edc281;

// Botones
$bttn-border-radius: 15px;

// Fuentes
$font-Roboto: 'Roboto', sans-serif;