@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */

/* Variables para los colores */
:root {
    --border-radius-bttn: 50px;
    --primary-txt-color: #232C50;
    --primary-bg-orange-color: #F3603C;
    --primary-hover-bttn: #ff9b82;
    --second-txt-color: #B3B2B7;
}

/* Reglas genericas para todos los elementos*/
* {
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    list-style: none;
    line-height: 1;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/* Reglas genericas para etiquetas html */
/* Formato para los h1 */
h1 {
    font-size: 2.5rem;
}

/* Formato para los h2 */
h2 {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

/* Formato por defecto para los botones */
button {
    background: var(--primary-bg-orange-color);
    border-radius: var(--border-radius-bttn);
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    height: 50px;
    margin: 10px;
    width: 140px;
}

button:hover {
    background-color: var(--primary-hover-bttn);
    cursor: pointer;
}

/* Clase para centrar */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**************************************************/
/********** AQUI COMIENZA EL ENCABEZADO **********/
/************************************************/
.nav-bar {
    height: 100px;
    justify-content: space-between;
}

.nav-bar .logo {
    margin: auto 0px;
    margin-left: 30px;
}

.nav-bar-link {
    display: none;
}

.nav-bar-link ul {
    align-items: flex-start;
    flex-direction: column;
    height: 150px;
    position: relative;
    z-index: 99;
}

.nav-bar-link li {
    height: 50%;
    margin: 10px 0px;
    padding: 0px 10px;
}

/* .nav-bar-link.active {
    display: flex;
} */

.nav-bar .nav-bar-link li:hover a {
    color: #b09a9a;
}

#nav-bar-bttn {
    margin-right: 40px;
    display: none;
}

/* 3 barritas para el menu mobile */
.toggle-bttn {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 30px;
}

.toggle-bttn .bar {
    background-color: #000000;
    border-radius: 10px;
    height: 3px;
    width: 100%;
}

/**************************************************/
/********* AQUI COMIENZAN LAS SECCIONES **********/
/************************************************/
section {
    width: 100%;
}

/* Sección con graficas */
#products {
    flex-direction: column-reverse;
    text-align: center;
}

.products p {
    margin: 10px 20px;
    line-height: 2;
}

.graphic img {
    width: 100vw;
}

/* Sección para la lista */
#about {
    flex-direction: column;
    text-align: center;
}

.question h2,
.question p {
    margin: 20px;
    line-height: 1.5;
}

/* Columna para la lista de puntos */
.point {
    margin: 20px 0px;
    margin-left: 10px;
}

.point-title {
    align-items: center;
    background-color: #FFF0EC;
    border-radius: 30px 0px 0px 30px;
    display: flex;
}

.point-number {
    align-items: center;
    background-color: var(--primary-bg-orange-color);
    border-radius: var(--border-radius-bttn);
    border: none;
    color: #ffffff;
    display: flex;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    margin-right: 20px;
    width: 70px;
}

.point-txt {
    color: var(--second-txt-color);
    font-size: .9rem;
    font-weight: 500;
    margin: 10px 0px;
    letter-spacing: -0.01em;
    line-height: 26px;
}

/* Sección para los contactos */
.opinion {
    background-color: #FAFAFA;
    margin: 70px 10px 20px;
    text-align: center;
}

.avatar img {
    position: relative;
    top: -50px;
    width: 100px;
}

.txt {
    position: relative;
    top: -40px;
    margin: 20px;
}

.txt p {
    margin: 10px 0px;
    line-height: 1.5;
}

.name {
    font-weight: 700;
}

.bttn-get{
    width: 100%;
    text-align: center;
}

/**************************************************/
/********* AQUI COMIENZAN LAS MEDIAQUERIS ********/
/************************************************/
@media(min-width: 1440px) {
    body {
        margin: 0px 10%;
    }

    section {
        margin: 10px 10%;
        width: auto;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #nav-bar-bttn {
        display: block;
    }

    .toggle-bttn {
        display: none;
    }

    .nav-bar {
        height: 150px;
    }

    .nav-bar-link {
        display: flex;
    }

    .nav-bar-link ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .nav-bar-link li {
        margin: 0px 10px;
    }

    #products {
        flex-direction: row;
        text-align: left;
    }

    #products div {
        width: 30vw;
    }

    .graphic img {
        width: 100%;
    }

    .products p {
        width: 60%;
    }

    #about {
        flex-direction: row;
        text-align: left;
        align-items: normal;
    }

    .about-column {
        margin: 0px 50px;
    }

    .point-title {
        background-color: inherit;
    }

    .point-number {
        margin: 0px 20px;
        padding: 10px;
    }

    .point-txt {
        margin-left: 110px;
    }

    .opinion-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .opinion{
        width: 20vw;
    }
}